<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181192360535-rtqcv7csd8nhqukehf6visrstogcgm9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181192360535-rtqcv7csd8nhqukehf6visrstogcgm9b</string>
	<key>API_KEY</key>
	<string>AIzaSyD1qX93NgDQ6npwahlJqyvXLuoJ00PZfAU</string>
	<key>GCM_SENDER_ID</key>
	<string>181192360535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.planto.plantoFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>planto-app-263b6</string>
	<key>STORAGE_BUCKET</key>
	<string>planto-app-263b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181192360535:ios:33cb82e4ee8ca41c665912</string>
</dict>
</plist>